*, *::before, *::after{
    box-sizing: border-box;
    font-family: "Roboto";
   
}
body{
    margin:0;
    padding:1em;
}
/* Start of Main Video Section */
.videos{
    background-color: #f1f1f1;
    
}
.video-section{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 2em 1em;
    border-top: 3px solid #999;
    padding: 3em 0 3em 0;

}
.video-section:first-child{
    border-top: none;
}
.video-container{
    display: flex;
    flex-direction: column;
    
}
.thumbnil-img{
    width: 250px;
    height: 150px;
    min-width:100%;
    min-height:100%;
    border-radius:1%;
    background-color: #999;
    
}
.thumbnil{
    position:relative;
    
}
.thumbnil::before{
    content:"20:32";
    color:white;
    position: absolute;
    background-color: black;
    font-size: .6em;
    padding: .2em .4em;
    right:.2em;
    bottom:.2em;
}
.video-details{
    display: flex;
    margin-top:.5em;
}
.channel-icon img{
  border-radius: 50%;
  margin-right:.2em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #999;
}
.video-meta-data{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: .6em;
}
.video-meta-data a{
    text-decoration:none;
}
.video-title{
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
  margin-bottom:.5em;
}
.video-meta-data .channel-name a{
  color:rgba(14, 11, 11, 0.8);
  font-size: .7em;
  letter-spacing: .004em;
  display: flex;
  align-items: center;
}
.video-meta-data .channel-name svg{
  margin-left: .9em;  
}
.views{
    color:rgba(14, 11, 11, 0.8);
    font-size: .7em;
    letter-spacing: .004em;
}
.section-name{
    grid-column: 1/ -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em;
    margin: -4em 0em -3em 0em;
}



/*End of Main video Section*/
/* Start of recoment tab section */


.recommend-section{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
}
.recommend-section button,
.recommend-section .active{
    margin-right: 1em;
    word-wrap:none;
    white-space: nowrap;
    padding:.5em .7em;
    border-radius: 50px;
    border: .1em solid #e0e0e0;
    font-size: .7em;
    transition: background-color 350ms ease-in-out;
    cursor:pointer;
}
.recommend-section button:hover{
    background-color: #dddbdb;
}
.recommend-section .active{
    background-color: black;
    color:white;
}




/* End of Recommended-section Button */
/* Star of Header Section */

