*, *::before, *::after{
    box-sizing: border-box;
    font-family: roboto,helvetica,Arial, sans-serif;
}
body{
    margin:0;
}
.videos{
    background-color: #f1f1f1;
    
}
.video-section{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 2em 1em;
    border-top: 2px solid #999;
    padding: 3em 0 3em 0;

}
.video-section:first-child{
    border-top: none;
}
.video-container{
    display: flex;
    flex-direction: column;
    
}
.thumbnil-img{
    width: 250px;
    height: 150px;
    min-width:100%;
    min-height:100%;
    border-radius:1%;
    background-color: #999;
    
}
.thumbnil{
    position:relative;
    
}
.thumbnil::before{
    content:"20:32";
    color:white;
    position: absolute;
    background-color: black;
    font-size: .6em;
    padding: .2em .4em;
    right:.2em;
    bottom:.2em;
}
.video-details{
    display: flex;
    margin-top:.5em;
}
.channel-icon img{
  border-radius: 50%;
  margin-right:.2em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #999;
}
.video-meta-data{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: .6em;
}
.video-meta-data a{
    text-decoration:none;
}


.video-title{
  color: rgba(0, 0, 0, 0.9);
  font-weight:400;
  
}
.video-meta-data .channel-name a{
  color:rgba(14, 11, 11, 0.8);
  font-size: .8em;
  letter-spacing: .004em;
  display: flex;
  align-items: center;
}
.video-meta-data .channel-name svg{
  margin-left: .9em;  
}
.views{
    color:rgba(14, 11, 11, 0.8);
    font-size: .8em;
    letter-spacing: .004em;
}